*~
*\#
AVL_Trees_Implementation/misc/*
coq_files_misc/* 
*.vo
*.glob
*.d
coq_files/src/Makefile.conf
coq_files/src/Makefile
*.aux
coq_files/src/CoqMakefile.conf
*zip
coq_files/src/Theorems/graph/*
coq_files/src/Paraphernalia/
*html
*css

# don't ignore html and css files in docs
!*/docs
